<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>有空儿</title>
	<link href="/assets/weui.min.css" rel="stylesheet">
	<link href="/assets/weui.min.css.map" rel="stylesheet">
</head>
<body>
<div class="weui-msg">
	<div class="weui-msg__icon-area">
		<i class="weui-icon-warn weui-icon_msg"></i>
	</div>
	<div class="weui-msg__text-area">
		<h2 class="weui-msg__title">404 Not Found</h2>
		<p class="weui-msg__desc">您请求的资源已不存在</p>
	</div>
	<div class="weui-msg__opr-area">
		<div class="weui-btn-area">
		<a class="weui-btn weui-btn_primary" href="/">创建新的聚会</a>
	</div>
	</div>
</div>
</body>
</html>